<!DOCTYPE html>
<html lang="en">
<head>
<title>Emporium_Home</title>
<link type="text/css" href="style2.css" rel="stylesheet">
</head>
<body>
<h1> Welcome to the Emporium!</h1>
<h2>Please, browse our goods.</h2>
<form method="POST" action="success.html" class="mySearch" name="mySearch">
<div class="form-search-tool">
    <label for="name"><strong>Search:</strong></label><br>
    <input type="text" placeholder="Search for products" class="form-search tool" id="search" name="search1">
</div>
<h3>Navigational Menu</h3>
<ul>
	<li><a href = "mainpage.html">Home</a></li>
	<li><a href = "Reviews.html">Customer Reviews</a></li>
	<li><a href = "Checkout.html">Checkout</a></li>
</ul>
